


<!-- DEFINE $SKIN_CAT_HEADER_OPEN = '<div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title">' -->
<!-- DEFINE $SKIN_CAT_HEADER_CLOSE = '</div></div></div></div>' -->

<!-- DEFINE $SKIN_CAT_HEADER_BORDER_OPEN = '<div class="c-h-l-border"><div class="c-h-r-border"><div class="c-h-c-border"><div class="c-h-title">' -->
<!-- DEFINE $SKIN_CAT_HEADER_BORDER_CLOSE = '</div></div></div></div>' -->

<!-- DEFINE $SKIN_CAT_FOOTER_OPEN = '<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">' -->
<!-- DEFINE $SKIN_CAT_FOOTER_CLOSE = '</div></div></div>' -->